/.cache
/coding
/venv
app/.cache/
app/__pycache__/
app/utils/__pycache__/
/data
/templates
__pycache__/
__pycache__/config.cpython-310.pyc
__pycache__/embedding_functions.cpython-310.pyc
__pycache__/minddb.cpython-310.pyc
backend/.cache
backend/__pycache__
backend/utils/__pycache__
